.root {
  height: 100%;
  min-height: 0;
}

.scroll {
  flex: 1;
  min-height: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.fallback {
  flex: 1;
}

.cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.row[data-clickable='true'] {
  cursor: pointer;
}
